
        tr.valid {}

        tr.invalid {
          background: red;
          border: 1px solid #B7B7B7;
          border-bottom-color: red;
        }

        ol {
            counter-reset: section;
            list-style-type: none;
        }

        ol li:before {
            counter-increment: section;
            content: counters(section, ".") ". ";
        }

